<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="habits">
      <ion-icon name="rocket-outline"></ion-icon>
      Habits
    </ion-tab-button>
    <ion-tab-button>
      <ion-button color="primary" (click)="onCreateHabitClick()">
        <ion-icon name="add-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-tab-button>
    <ion-tab-button tab="overview">
      <ion-icon name="bar-chart-outline"></ion-icon>
      Overview
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
