<ion-header>
  <ion-toolbar>
    <ion-title>Overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense" [translucent]="true">
    <ion-toolbar>
      <ion-title size="large">Overview</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Today's overview</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      You have completed {{  completedHabitCount }} habit(s) today!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Last 3 Days</ion-card-title>
    </ion-card-header>
    <canvas #dailyChartCanvas></canvas>
  </ion-card>

</ion-content>
