<ion-header>
  <ion-toolbar>
    <ion-title>Overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense" [translucent]="true">
    <ion-toolbar>
      <ion-title size="large">Overview</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>This week</ion-card-subtitle>
      <ion-card-title>Weekly progress</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label>Daily Streak</ion-label>
      <ion-badge slot="end">2</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Missed days</ion-label>
      <ion-badge slot="end">1</ion-badge>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>January</ion-card-subtitle>
      <ion-card-title>Monthly progress</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label>Interesting number</ion-label>
      <ion-badge slot="end">12</ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>Other number</ion-label>
      <ion-badge slot="end">5</ion-badge>
    </ion-item>
  </ion-card>


</ion-content>
