<ion-header>
  <ion-toolbar>
    <ion-title>Habits Overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <header class="ion-padding-horizontal">
    <h2>Weekly overview</h2>
  </header>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-card mode="ios">
          <ion-card-content> Left </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-card mode="ios">
          <ion-card-content> Right </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <header class="ion-padding-horizontal">
    <h2>Completion rate</h2>
  </header>

  <ion-card mode="ios">
    <ion-card-content>
      <p>Main Content</p>
    </ion-card-content>
  </ion-card>
</ion-content>
